<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ base_path }}/css/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>张三</p>
            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul id="main-menu" class="sidebar-menu">
        <li class="header">常见页面形式演示</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>首页演示</span> <i
                        class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/index.html"><i class="fa fa-circle-o"></i> 首页演示1</a></li>
                <li><a href="{{ base_path }}/index2.html"><i class="fa fa-circle-o"></i> 首页演示2</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i>
                <span>表格列表演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/list/001.html"><i class="fa fa-circle-o"></i> 简单表格演示</a></li>
                <li><a href="{{ base_path }}/pages/list/002.html"><i class="fa fa-circle-o"></i> 较多列表格演示</a></li>
                <li><a href="{{ base_path }}/pages/list/003.html"><i class="fa fa-circle-o"></i> 较多列带图片表格演示</a></li>
                <li><a href="{{ base_path }}/pages/list/004.html"><i class="fa fa-circle-o"></i> 选择列表行演示</a></li>
                <li><a href="{{ base_path }}/pages/list/005.html"><i class="fa fa-circle-o"></i> 自适应列</a></li>
                <li><a href="{{ base_path }}/pages/list/006.html"><i class="fa fa-circle-o"></i> EasyUI 表格插件</a></li>
                <li><a href="{{ base_path }}/pages/list/007.html"><i class="fa fa-circle-o"></i> DataTables 表格插件</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-edit"></i>
                <span>表单演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/form/001.html"><i class="fa fa-circle-o"></i> 简单表单演示</a></li>
                <li><a href="{{ base_path }}/pages/form/002.html"><i class="fa fa-circle-o"></i> 下拉框演示</a></li>
                <li><a href="{{ base_path }}/pages/form/003.html"><i class="fa fa-circle-o"></i> 一行多项演示</a></li>
                <li><a href="{{ base_path }}/pages/form/010.html"><i class="fa fa-circle-o"></i> 日期和时间输入</a></li>
                <li><a href="{{ base_path }}/pages/form/004.html"><i class="fa fa-circle-o"></i> 其他特殊输入</a></li>
                <li><a href="{{ base_path }}/pages/form/005.html"><i class="fa fa-circle-o"></i> 限定输入格式</a></li>
                <li><a href="{{ base_path }}/pages/form/006.html"><i class="fa fa-circle-o"></i> 表单分组</a></li>
                <li><a href="{{ base_path }}/pages/form/007.html"><i class="fa fa-circle-o"></i> 表单验证</a></li>
                <li><a href="{{ base_path }}/pages/form/008.html"><i class="fa fa-circle-o"></i> 图片上传</a></li>
                <li><a href="{{ base_path }}/pages/form/009.html"><i class="fa fa-circle-o"></i> 图文编辑器</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>文本内容演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/list/001.html"><i class="fa fa-circle-o"></i> 文本演示1</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-exclamation-circle"></i>
                <span>提示性元素演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/notic/001.html"><i class="fa fa-circle-o"></i> 消息和警告</a></li>
                <li><a href="{{ base_path }}/pages/notic/002.html"><i class="fa fa-circle-o"></i> 弹出框</a></li>
                <li><a href="{{ base_path }}/pages/notic/003.html"><i class="fa fa-circle-o"></i> 提示</a></li>
                <li><a href="{{ base_path }}/pages/notic/004.html"><i class="fa fa-circle-o"></i> 帮助</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i>
                <span>AJAX 演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/list/001.html"><i class="fa fa-circle-o"></i> AJAX 演示1</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i>
                <span>特定用途组件</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/special/001.html"><i class="fa fa-circle-o"></i> 商品属性选择演示</a></li>
                <li><a href="{{ base_path }}/pages/special/002.html"><i class="fa fa-circle-o"></i> 日历及日程安排</a></li>
                <li><a href="{{ base_path }}/pages/special/003.html"><i class="fa fa-circle-o"></i> 树形结构</a></li>
                <li><a href="{{ base_path }}/pages/special/mailbox/001.html"><i class="fa fa-circle-o"></i> 邮件或信息管理</a>
                </li>
                <li><a href="{{ base_path }}/pages/special/mailbox/002.html"><i class="fa fa-circle-o"></i> 撰写邮件或信息</a>
                </li>
                <li><a href="{{ base_path }}/pages/special/mailbox/003.html"><i class="fa fa-circle-o"></i> 阅读邮件或信息</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cubes"></i>
                <span>综合演示</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ base_path }}/pages/mix/001.html"><i class="fa fa-circle-o"></i> 11</a></li>
            </ul>
        </li>
        <li class="header">各种元素及规范</li>
        <li>
            <a href="{{ base_path }}/pages/icon_meaning.html">
                <i class="fa fa-circle-o text-yellow"></i> <span>统一图标含义</span>
            </a>
        </li>
        <li>
            <a href="{{ base_path }}/pages/color_meaning.html">
                <i class="fa fa-circle-o text-red"></i> <span>统一颜色含义</span>
            </a>
        </li>
        <li>
            <a href="{{ base_path }}/pages/widgets.html">
                <i class="fa fa-th"></i> <span>小部件</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Charts</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <span>UI Elements</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                <li><a href="../UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                <li><a href="../UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                <li><a href="../UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                <li><a href="../UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                <li><a href="../UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-edit"></i> <span>Forms</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                <li><a href="../forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                <li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
            </ul>
        </li>
        <li>
            <a href="../calendar.html">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
                <small class="label pull-right bg-red">3</small>
            </a>
        </li>
        <li>
            <a href="../mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href="profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                <li><a href="{{ base_path }}/pages/examples/login.html"><i class="fa fa-circle-o"></i> 登陆</a></li>
                <li><a href="register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href="lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                <li><a href="{{ base_path }}/pages/examples/error.html"><i class="fa fa-circle-o"></i> 错误页面</a></li>
                <li><a href="{{ base_path }}/pages/blank.html"><i class="fa fa-circle-o"></i> 空白页面</a></li>
                <li><a href="pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Level One <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level Two <i
                                        class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>
        <li><a href="{{ base_path }}/documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a>
        </li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    </ul>
</section>